<% if params[:page].nil? %>
    $('#exploreStoriesContainer').html('<%= j render "/stories/list_stories", stories: @stories, empty_message: t('stories.empty_message') %>');
    $('#storiesContainer').masonry({itemSelector: '.smallStory'});
<% else %>
    $("body").append("<div id='hiddenStories' class='hide'><%= j render "/stories/list_stories_inner", stories: @stories %></div>");
    var newItems = $('#hiddenStories > .smallStory');
    $("#storiesContainer").append(newItems).masonry("appended", newItems, true);
    $("#hiddenStories").remove();
<% end %>

<% if @stories.next_page %>
    $('.pagination').replaceWith('<%= j will_paginate(@stories) %>');
<% else %>
    $('.pagination').html("");
<% end %>
