div#uploadedPhotoData
  input#createdStoryId type="hidden" value="#{@story.id}"
  - @story_photos.each do |story_photo|
    input{ type="hidden" id="#{story_photo.id}" class="photo"
    data-text='#{h story_photo.caption}'
    data-orientation="#{story_photo.orientation}"
    data-medium-image="#{story_photo.photo.url(:side)}"
    data-large-image="#{story_photo.photo.url(:center)}"
    data-medium-height="#{story_photo.photo_dimensions[:side][:height]}"
    data-large-height="#{story_photo.photo_dimensions[:center][:height]}"
    data-medium-width="#{story_photo.photo_dimensions[:side][:width]}"
    data-large-width="#{story_photo.photo_dimensions[:center][:width]}"
    data-has-text="#{story_photo.has_text}"
    data-order="#{story_photo.story_element.element_order}"
    data-date="#{story_photo.date_text.present? ? story_photo.date_text : story_photo.time_taken}" }

