div#uploadedPhotoData
  - @story_photos.each do |story_photo|
    input{ type="hidden" id="#{story_photo.id}"
    data-text="#{story_photo.caption}"
    data-orientation="#{story_photo.orientation}"
    data-medium-image="#{story_photo.photo.url(:side)}"
    data-large-image="#{story_photo.photo.url(:center)}"
    data-medium-height="#{story_photo.photo_dimensions[:side][:height]}"
    data-large-height="#{story_photo.photo_dimensions[:center][:height]}"
    data-medium-width="#{story_photo.photo_dimensions[:side][:width]}"
    data-large-width="#{story_photo.photo_dimensions[:center][:width]}"
    data-date="#{story_photo.time_taken}" }

