div#uploadedPhotoData
  - @story.story_photos.each do |story_photo|

    input{ type="hidden" id="#{story_photo.id}"
    data-medium-image="#{story_photo.photo.url(:side)}"
    data-large-image="#{story_photo.photo.url(:center)}"
    data-medium-height="#{get_image_dims(story_photo.photo.path(:side))[:height]}"
    data-large-height="#{get_image_dims(story_photo.photo.path(:center))[:height]}"
    data-medium-width="#{get_image_dims(story_photo.photo.path(:side))[:width]}"
    data-large-width="#{get_image_dims(story_photo.photo.path(:center))[:width]}"
    data-date="#{get_image_time_taken story_photo.photo.path}" }

