// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#registrationDiv {
  margin: 50px auto;
  width: 600px;
  text-align: center !important;

  form {
    text-align: center !important;
    margin-top: 10px;

    input[type='text'] {
      font-size: 32px;
      line-height: 32px;
      width: 535px;
      height: 45px;
    }

    input[type='submit'] {
      margin-top: 5px;
    }
  }
}

.oneHorizontalForm {
  margin-top: 20px;
  width: 600px;

  label {
    width: auto !important;
    font-size: 18px;
    color: #808080;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
  }

  .controls {
    margin-left: 120px;
  }

  .control-group {
    margin-bottom: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(34, 25, 25, 0.2);
  }

  .control-group:first-child {
    border-top: none;
    padding-top: 0;
  }

  .control-group.last-child {
    border-bottom: none;
  }

  .form-actions {
    padding-left: 120px;
  }

  span.info {
    color: #808080;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 5px;
  }

  .facebookAuth {
    background: url("facebook-auth.png");
    padding: 24px;
  }

  .twitterAuth {
    background: url("twitter_auth.png");
    padding: 24px;
  }
}