// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#newStory {
  margin-top: 0;

  .share {
    margin-left: 10px;
  }

  .firstShare {
    margin-left: 0;
  }

  .shareDiv {
    height: 40px;
  }

  .btn-share {
    width: 140px;
  }

  .overallInfo {
    margin: 0 !important;
  }

  h2 {
    margin-bottom: 15px;
  }
}

#photoUploadDiv {
  margin-top: 10px;

  #customProgressBar {
    display: none;
    width: 400px;

    .bar {
      color: black;
    }
  }

  .photoUploadAt {
    margin: 0 10px 0 10px;
    font-size: 22px;
    color: #808080;
  }

  #photoUploadStoryDate {
    width: 80px;
  }

  #photoUploadStoryTitle {
    font-size: 18px;
  }
}

#story .span0 {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px dotted gray;
}

.storyHeaderDiv {
  margin-bottom: 25px;
  text-align: center;

  .storyHeader {
    font-size: 32px;
    text-shadow: #e3e3e3 0 1px 1px;
    margin-bottom: 15px;
  }

  .storySubHeader {
    font-size: 14px;
    font-style: italic;
    color: #606060;
    position: relative;
    z-index: 3;
    top: 0;
    background: url("skin_side_up.png");
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }

  .storySubHeaderBorder {
    border-bottom: 2px dotted #b2b2b2;
    position: relative;
    top: -9px;
    z-index: 1;
  }
}

#story {
  img {
    box-shadow: #404040 0 0 5px;
  }

  .time {
    font-size: 22px;
    margin-bottom: 5px;
    background-color: rgba(50, 18, 5, 0.1);
    padding: 5px 5px 7px 6px;
    display: inline-block;
    border-radius: 6px;
  }

  .timeEdit {
    font-size: 22px;
    color: #202020;
    margin: 0;
    padding: 2px;
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
  }

  .timeEditAmPm {
    margin: 0;
    width: 60px;
    margin-left: 5px;
  }

  .textEdit {
    width: 365px;
    height: 200px;
  }

  .row .row {
    margin-left: 0;
  }

  // For 'edit' mode
  &.edit {
    .time {
      cursor: pointer;

      &:hover {
        background-color: rgba(1, 1, 1, 0.2) !important;
        text-decoration: underline;
      }
    }

    .imagePlace {
      position: relative;
    }

    .imageHoverMenu {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .text {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }

      &.onceEdited {
        text-decoration: none !important;
      }
    }
  }
}

.smallStory {
  cursor: pointer;
  padding: 15px;
  border: 1px solid #B2B2B2;
  box-shadow: gray 0 1px 1px;
  float: left;
  background: white;
  margin-right: 20px;

  .text {
    margin-top: 5px;
    font-size: 21px;
    color: #212121
  }

  .date {
    margin-top: 10px;
    color: #606060;
    font-size: 12px;
    font-style: italic;
  }

  .by {
    color: #606060;
    font-size: 12px;
  }
}

