// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#newStory {
  margin-top: 0;

  .share {
    margin-left: 10px;
  }

  .firstShare {
    margin-left: 0;
  }

  .shareDiv {
    height: 40px;
  }

  .btn-share {
    width: 140px;
  }

  .overallInfo {
    margin: 0 !important;
  }

  h2 {
    margin-bottom: 15px;
  }
}

.ru #photoUploadDiv label {
  width: 95px;
}

.ru #photoUploadDiv .tagExp {
  margin-left: 97px;
}

#photoUploadDiv {
  margin-top: 10px;

  .delim {
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    border-top: 1px solid rgba(34, 25, 25, 0.2);
  }

  label {
    font-size: 18px;
    color: #202020;
    margin-bottom: 5px;
    width: 55px;
    text-shadow: white 0 1px 1px;
    display: inline-block !important;
    vertical-align: bottom;
  }

  input {
    margin: 0;
  }

  .tagExp {
    margin-top: 3px;
    margin-left: 57px;
    font-size: 12px;
    vertical-align: bottom;
    color: #808080;
  }

  #customProgressBar {
    display: none;
    width: 400px;
    position: relative;
    text-align: center;

    .barText {
      position: absolute;
      top: 0;
      z-index: 999;
    }

    .bar {
      border-radius: 4px;
      color: black;
    }
  }

  .photoUploadAt {
    margin: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    top: 3px;
    color: #404040;
  }

  #photoUploadStoryTitle {
    font-size: 18px;
    height: 18px;
    line-height: 26px;
    width: 300px;
    font-weight: 300;
  }

  #photoUploadStoryDate {
    font-size: 18px;
    height: 18px;
    line-height: 26px;
    width: 130px;
    font-weight: 300;
  }
}

#story .span0 {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px dotted gray;
}

#story .span0_hidden {
  margin-left: 20px;
  margin-right: 30px;
  border: none;
  float: right;
}

#story .span55 {
  width: 420px;
}

.storyGroup.right .imagePlace {
  margin-left: 0 !important;
}

.noText {
  float: left;
  clear: none !important;
}

.storyHeaderDiv {
  margin-bottom: 25px;
  text-align: center;

  .storyHeader {
    font-size: 32px;
    text-shadow: #ffffff 0 1px 1px;
    margin-bottom: 15px;
    color: #202020;
  }

  .storySubHeader {
    font-size: 14px;
    font-style: italic;
    color: #606060;
    position: relative;
    z-index: 3;
    top: 0;
    background: url("whitey.png");
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }

  .storySubHeaderBorder {
    border-bottom: 2px dotted #b2b2b2;
    position: relative;
    top: -9px;
    z-index: 1;
  }
}

.bottomShareMenu {
  height: 34px;
  width: 100%;
  margin-bottom: 10px;
}

.storyTags {
  margin-bottom: 10px;
}

.storyEnd {
  margin-top: 25px;
  clear: both;
  text-align: center;

  .header {
    display: inline-block;
    position: relative;
    z-index: 3;
    background: url("whitey.png");
    font-size: 28px;
    text-shadow: #ffffff 0 1px 1px;
    color: #202020;
    padding-left: 5px;
    padding-right: 5px;
  }

  .subHeader {
    border-bottom: 2px dotted #b2b2b2;
    position: relative;
    top: -13px;
    z-index: 1;
  }
}

.row {
  clear: both;
}

.uploadButtonDiv {
  margin-top: 10px;
}

#story {
  img {
    box-shadow: #404040 0 0 5px;
  }

  .time {
    font-size: 22px;
    margin-bottom: 5px;
    background-color: rgba(50, 18, 5, 0.1);
    padding: 5px 5px 7px 6px;
    display: inline-block;
    border-radius: 6px;
  }

  .timeEdit {
    font-size: 22px;
    color: #202020;
    margin: 0;
    padding: 2px;
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
  }

  .timeEditAmPm {
    margin: 0;
    width: 60px;
    margin-left: 5px;
  }

  .textEdit {
    width: 365px;
    height: 200px;
  }

  .row .row {
    margin-left: 0;
  }

  // For 'edit' mode
  &.edit {
    .time {
      cursor: pointer;

      &:hover {
        background-color: rgba(1, 1, 1, 0.2) !important;
        text-decoration: underline;
      }
    }

    .imagePlace {
      position: relative;
    }

    .text {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
      }

      &.onceEdited {
        text-decoration: none !important;
      }
    }
  }
}

.imageHoverMenu {
  position: absolute;
  top: 10px;
  left: 10px;

  .textControl {
    left: 10px;
  }

  .flowControl {
    left: 20px;

    button {
      font-size: 16px;
      padding-top: 0;
    }
  }

  .remove {
    left: 25px;
    margin-left: 10px;

    a {
      font-size: 16px;
      padding-top: 4px;
      padding-bottom: 0;

      i {
        margin-top: 2px;
      }
    }
  }
}

.likes {
  float: left;
  margin-left: 5px;
  margin-top: 7px;

  i {
    margin-top: 2px;
    margin-right: 3px;
  }

  a {
    text-decoration: none;
  }
}

.likeForm {
  float: left;
  margin-bottom: 0;
}

.fb-like {
  vertical-align: top;
  margin-left: 10px;
}

.btnLike {
  span {
    font-size: 18px;
  }
}

#commentsContainer {
  background: #fcfcfc;
  border: 1px solid #e1e1e1;
  margin-top: 20px;
  box-shadow: #b2b2b2 1px 1px 3px;

  form {
    margin: 0;
  }

  .addWrapper {
    background-color: #EEE;
    border-top: 1px solid #DDD;

    .add {
      padding: 10px;

      img {
        float: left;
      }
    }
  }

  .addTextWrapper {
    position: relative;
    margin-left: 59px;
    margin-right: 10px;
  }

  .addText {
    height: 50px;
    width: 100%;
  }

  .submit {
    margin-left: 60px;
  }

  .comment {
    padding: 10px;

    &.odd {
      background: white;
    }

    a {
      text-decoration: none;

      &:hover {
        color: #CB2027 !important;
      }
    }

    .commentHeader {
      height: 32px;

      a.author {
        font-size: 13px;
        color: #606060;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 6px;
        display: inline-block;
      }

      span.time {
        margin-left: 5px;
        font-size: 10px;
        color: #808080;
      }
    }

    p.text {
      font-size: 14px;
      margin-top: 3px;
      margin-bottom: 0;
    }

    .controls {
      a {
        font-size: 12px;
        margin-right: 5px;
      }
    }

    img {
      float: left;
    }
  }
}

.smallStory {
  box-shadow: #808080 0 1px 5px;
  float: left;
  background: white;
  margin-right: 10px;
  margin-bottom: 10px;

  &.unpublished .image {
    background: url("dark_Tire.png");

    span {
      color: black;
      font-size: 22px;
      display: inline-block;
      margin-left: 95px;
      margin-top: 125px;
      text-align: center;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 8px;
    }
  }

  .text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-top: 5px;
    font-size: 21px;
    color: #212121;
  }

  .title {
    line-height: 30px;
    font-weight: 300;
    font-size: 24px;
    color: #404040;
  }

  .social {
    margin-top: 3px;
    opacity: 0.5;
    font-size: 13px;
    font-style: normal;
    vertical-align: bottom;

    span {
      margin-right: 7px;
    }

    i {
      margin-right: 2px;
      margin-top: 2px;
    }
  }

  .date {
    color: #606060;
    font-size: 12px;
    font-style: italic;
  }
}

#searchInnerContainer {
  padding-top: 20px;
}

.searchHeader {
  font-weight: 300;
  font-size: 24px;
  margin-top: 9px;
}

.select2-container {
  width: 310px !important;
}

.select2-choices input {
  border: none !important;
  font-family: "Open Sans" !important;
  font-size: 14px !important;
}

.likeWrapper {
  position: relative;
  float: left
}

.likeBox {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  padding: 8px 8px 8px 5px;
  width: 210px;
  top: -65px;
  left: -30px;
  opacity: 0;
  z-index: -1;
  display: none;

  img {
    padding-left: 3px;
  }
}


