// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#registrationDiv {
  margin: 50px auto;
  width: 600px;
  text-align: center !important;

  form {
    text-align: center !important;
    margin-top: 10px;

    input[type='text'] {
      font-size: 32px;
      line-height: 44px;
      width: 535px;
      height: 45px;
    }

    input[type='submit'] {
      margin-top: 5px;
    }
  }
}

.oneHorizontalForm {
  margin-top: 20px;
  width: 600px;

  label {
    width: auto !important;
    font-size: 18px;
    color: #202020;
    text-shadow: #ffffff 0 1px 1px;
  }

  .controls {
    margin-left: 120px;
  }

  .control-group {
    margin-bottom: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(34, 25, 25, 0.2);
  }

  .control-group:first-child {
    border-top: none;
    padding-top: 0;
  }

  .control-group.last-child {
    border-bottom: none;
  }

  .form-actions {
    padding-left: 120px;
  }

  span.info {
    color: #808080;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 5px;
  }
}

.facebookAuth {
  background: url("facebook-auth.png");
  padding: 24px !important;
  font-size: 0;

  &.disabled {
    background: url("facebook-auth_disabled.png");
  }
}

.twitterAuth {
  background: url("twitter_auth.png");
  padding: 24px !important;
  font-size: 0;

  &.disabled {
    background: url("twitter_auth_disabled.png");
  }
}

#showUserDiv {
  background: white;
  position: absolute;
  width: 100%;
  margin-top: -25px;
  left: 0;
  border-bottom: 1px solid #c3c3c3;

  .innerContainer {
    width: 940px;
    height: 150px;
    margin: 0 auto;
  }

  .infoContainer {
    height: 65px;
    padding-top: 20px;

    .username {
      font-size: 28px;
      font-weight: 300;
    }

    .userinfo {
      display: inline-block;
      vertical-align: top;
      margin-left: 7px;
      margin-top: 14px;
    }

    .social-ntwk {
      cursor: pointer;
    }
  }

  .tabsContainer {
    margin-top: 15px;

    .count {
      margin-right: 10px;
      color: red !important;
      text-shadow: #a0a0a0 1px 1px 1px;
    }

    ul.tabs {
      vertical-align: bottom;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;

        a {
          text-decoration: none;
          display: inline-block;
          padding: 15px 35px 15px 35px;
          box-sizing: border-box;
          z-index: 999;
          position: relative;
          top: 1px;

          span {
            font-size: 16px;
            color: #404040;
          }
        }

        &.selected a {
          background: url("whitey.png");
          box-shadow: inset 0 7px 14px -7px rgba(0, 0, 0, .4);
        }
      }
    }
  }
}

.webkit .tabsContainer a {
  height: 50px;
}

.noStoriesMessage {
  font-size: 24px;
}

.user-activity-count {
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 1);
  padding: 1px 4px;
  text-shadow: none;
  position: absolute;
  font-size: 13px;
  line-height: 13px;
  color: white;
  top: 34px;
  left: 34px;
}

.tabsContainer #activitiesTab {
  .count {
    margin-right: 10px;
    background-color: rgba(255, 0, 0, 0.7);
    padding: 1px 8px;
    text-shadow: none;
    border-radius: 50%;
    transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;

    .text {
      color: white;
    }

    &.gray {
      background-color: rgba(20, 20, 20, 0.7);
    }
  }
}

.activity {
  position: relative;

  .activity-head {
    i {
      margin-right: 5px;
    }
  }

  .activity-more {
    margin-top: 5px;
  }

  .activity-created {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    color: #808080;
  }
}
